<html>
<head>
    <title>TOP</title>
    <link rel='stylesheet' href="view/css/top.css">
</head>
<body>
	<h1>ゲームタイトル</h1>

	<form method="POST" action='/game/'　>
		ID:<input type="text" name="id"><br>
		PASS:<input type="password" name="pass"><br>
		<input type='hidden' name='mode' value='mypage'>
		<input type='hidden' name='action' value='mypage'>
		<input type="submit" value="login">
	</form>

    <left>
	   <div class='newentybtn'><a href = '?mode=top&action=newEntry'>新規登録</a></div>
    </left>
</body>
</html>